h1{
    font-family: sans-serif;
    font-weight: normal;
}
h3{
    font-family: sans-serif;
    font-weight: normal;
}
table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}
div {
    display: inline-block;
}
td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}